build
dist
generatedFiles
cordova
node_modules
.elasticbeanstalk/logs

# Elastic Beanstalk Files
#.elasticbeanstalk/*
#!.elasticbeanstalk/*.cfg.yml
#!.elasticbeanstalk/*.global.yml

# when on early adopter remove package-lock
package-lock.json